# P1. Regression

# M1. Shortest Path

In [1]:
# 1차 단계(대략적인 최소값 pair 찾기)
# 수직터치해야 하는 수평선상 임의의 점 C와 점A에서 수평선으로 수선의 발을 접하는 점 A'를 꼭짓점으로 하는 ACA' 삼각형 상정
# 점C와 점B에서 수평선으로 수선의 발을 접하는 점 B'를 꼭짓점으로 하는 BCB' 삼각형을 상정했을 때,
# 수평선을 임의로 나눠 선A'C, 선CB'의 길이를 구한 후 피타고라스 정리를 사용해 선AC, 선CB를 각각 구한 후 가장 최솟값이 되는 합을 구한다.
# 0 ~ 10 사이의 정수로 먼저 케이스를 대입해보며 최소값에 근사한 값을 나타내는 점 C의 위치를 가늠한다.

# A'C 사이의 거리를 변수 X라고 했을 때,
X = range(0, 10) # 0 ~ 10 사이의 거리 케이스
distances = {} # 최종 ACB 거리를 key로, (A'C, CB') 페어를 value로 하는 딕셔너리

for x in X:
    y = (10-x) # CB' 사이의 거리를 변수 y라고 했을 때,
    dist = ((8**2) + (x**2))**(0.5) + ((6**2) + (y**2))**(0.5) # 피타고라스 정리를 사용한 최종 길이를 변수 dist라고 한다.
    distances[dist] = (x, y) # distances 딕셔너리에 값을 넣는다.
    
print(distances)
min_dist = min(distances.keys()) # 가장 최솟값을 가지는 최종 길이
print(min_dist, distances[min_dist]) # 최소 길이 값, (A'C, CB') 페어

{19.6619037896906: (0, 10), 18.87891157469052: (1, 9), 18.246211251235323: (2, 8), 17.763548202610416: (3, 7), 17.429553284237727: (4, 6), 17.244230807963255: (5, 5), 17.21110255092798: (6, 4), 17.33834974523402: (7, 3), 17.63826381932152: (8, 2), 18.124357109090514: (9, 1)}
17.21110255092798 (6, 4)

In [2]:
# 2차 단계(상세 값 찾기)
# 선 AA', 선 BB'의 비율이 8:6의 비율이며,
# 1차 단계에서 도출한 정수 범위 한정 최솟값 pair도 이와 비슷한 비율인 점을 토대로 유추해볼 때,
# 최소 길이를 도출하는 (A'C, CB') 페어역시 8:6의 비율로 구성되어 있는 경우 상정

x = 10*(8/14) # 수평선 10m 중 8의 비율을 가지는 A'C의 길이
y = 10*(6/14) # 수평선 10m 중 6의 비율을 가지는 CB'의 길이

x_ = ((8**2) + x**2)**(0.5) # 피타고라스 정리를 사용한 AC 길이
y_ = ((6**2) + y**2)**(0.5) # 피타고라스 정리를 사용한 CB 길이

print(x_ + y_) # 최종적으로 도출한 길이 최솟값
print(x, y) # 최종길이 최솟값을 도출하는 (A'C, CB') 페어

17.204650534085253
5.7142857142857135 4.285714285714286

# M5. Poker Game

In [34]:
count_possible = 20 * 19
num_possible = []
for i in range(1, 11):
    num_possible.append(i)
num_possible = num_possible[::-1]

# consecutive numbers list
consec = []
for n, i in enumerate(num_possible):
    pair = (num_possible[n], num_possible[n-1])
    consec.append(pair)
    
consec

[(10, 1),
 (9, 10),
 (8, 9),
 (7, 8),
 (6, 7),
 (5, 6),
 (4, 5),
 (3, 4),
 (2, 3),
 (1, 2)]

In [36]:
# pairs
pairs = []
for i in num_possible:
    pair = (i, i)
    pairs.append(pair)
    
pairs

[(10, 10),
 (9, 9),
 (8, 8),
 (7, 7),
 (6, 6),
 (5, 5),
 (4, 4),
 (3, 3),
 (2, 2),
 (1, 1)]

In [44]:
# high numbers
highs = []
for i in num_possible:
    for j in num_possible:
        pair = (i, j)
        if (pair not in consec) and (pair not in pairs) and (pair[::-1] not in consec) and (pair[::-1] not in pairs):
            highs.append(pair)
            
highs

[(10, 8),
 (10, 7),
 (10, 6),
 (10, 5),
 (10, 4),
 (10, 3),
 (10, 2),
 (9, 7),
 (9, 6),
 (9, 5),
 (9, 4),
 (9, 3),
 (9, 2),
 (9, 1),
 (8, 10),
 (8, 6),
 (8, 5),
 (8, 4),
 (8, 3),
 (8, 2),
 (8, 1),
 (7, 10),
 (7, 9),
 (7, 5),
 (7, 4),
 (7, 3),
 (7, 2),
 (7, 1),
 (6, 10),
 (6, 9),
 (6, 8),
 (6, 4),
 (6, 3),
 (6, 2),
 (6, 1),
 (5, 10),
 (5, 9),
 (5, 8),
 (5, 7),
 (5, 3),
 (5, 2),
 (5, 1),
 (4, 10),
 (4, 9),
 (4, 8),
 (4, 7),
 (4, 6),
 (4, 2),
 (4, 1),
 (3, 10),
 (3, 9),
 (3, 8),
 (3, 7),
 (3, 6),
 (3, 5),
 (3, 1),
 (2, 10),
 (2, 9),
 (2, 8),
 (2, 7),
 (2, 6),
 (2, 5),
 (2, 4),
 (1, 9),
 (1, 8),
 (1, 7),
 (1, 6),
 (1, 5),
 (1, 4),
 (1, 3)]

In [45]:
total_outcome = consec + pairs + highs

In [48]:
total_outcome

[(10, 1),
 (9, 10),
 (8, 9),
 (7, 8),
 (6, 7),
 (5, 6),
 (4, 5),
 (3, 4),
 (2, 3),
 (1, 2),
 (10, 10),
 (9, 9),
 (8, 8),
 (7, 7),
 (6, 6),
 (5, 5),
 (4, 4),
 (3, 3),
 (2, 2),
 (1, 1),
 (10, 8),
 (10, 7),
 (10, 6),
 (10, 5),
 (10, 4),
 (10, 3),
 (10, 2),
 (9, 7),
 (9, 6),
 (9, 5),
 (9, 4),
 (9, 3),
 (9, 2),
 (9, 1),
 (8, 10),
 (8, 6),
 (8, 5),
 (8, 4),
 (8, 3),
 (8, 2),
 (8, 1),
 (7, 10),
 (7, 9),
 (7, 5),
 (7, 4),
 (7, 3),
 (7, 2),
 (7, 1),
 (6, 10),
 (6, 9),
 (6, 8),
 (6, 4),
 (6, 3),
 (6, 2),
 (6, 1),
 (5, 10),
 (5, 9),
 (5, 8),
 (5, 7),
 (5, 3),
 (5, 2),
 (5, 1),
 (4, 10),
 (4, 9),
 (4, 8),
 (4, 7),
 (4, 6),
 (4, 2),
 (4, 1),
 (3, 10),
 (3, 9),
 (3, 8),
 (3, 7),
 (3, 6),
 (3, 5),
 (3, 1),
 (2, 10),
 (2, 9),
 (2, 8),
 (2, 7),
 (2, 6),
 (2, 5),
 (2, 4),
 (1, 9),
 (1, 8),
 (1, 7),
 (1, 6),
 (1, 5),
 (1, 4),
 (1, 3)]

# E1. Discounted Cash Flow problem

In [54]:
rent_y1 = 10000.00 # 1년 뒤 첫 월세
total_year = 5 # 총 계약 기간
interest_rate = 0.03 # 2년 뒤 이자율
inflation_rate = 0.02 # 2년 위 물가상승률

# 2년마다 조정되는 월세 계산
rent_y2 = rent_y1 * ((1 + inflation_rate)**2)
rent_y3 = rent_y2
rent_y4 = rent_y3 * ((1 + inflation_rate)**2)
rent_y5 = rent_y4
rents = [rent_y1, rent_y2, rent_y3, rent_y4, rent_y5]

# 단리 기반 현재가치 계산(PV = CFn / (1 + nr))
# 2년 뒤부터 이자율이 3%이므로 1년 뒤는 이자율 0%(1년 뒤 미래가치는 현재가치와 동일)
# 따라서 2년 뒤부터 5년 뒤까지의 4번의 현금흐름에 대해 단리 기반 현재가치 계산 후 1년 뒤 현재가치 합산
pv_after_y2 = sum(rents[1:]) / (1+(4*interest_rate))
pv = pv_after_y2 + rent_y1
print(pv)

47907.71714285714

# E2. Term Structure of Interest Rates

1) If Term structure of interest rates is upward sloping, fill this relationship (YTM, Spot Rate,
Forward Rate)

먼저 채권에 붙어있는 표면이자율인 Par rate을 사용해 Spot Rate를 도출할 수 있다. n년간(6개월마다 이자를 지급할 경우 0.5년마다) n * 2번 (원금 x Par rate)만큼 이자를 지급할 경우, 해당 이자 지급일 별 cash flow(만기 때는 원금 포함)를 '만기까지 이자 지급이 없는 할인채'로 가정해 현재가지로 할인할 수 있다. 이때 사용하는 할인율이 Spot rate다.

YTM은 채권에서 발생하는 미래 현금흐름을 현재가치로 할인했을 때 현재 채권의 가격과 일치시켜주는 할인율이다. 우상향하는 Yield curve에서는 Spot rate가 YTM보다 크다.

Forward rate는 Spot rate에 내재되어 있는 미래 이자율이다. 구체적으로는 longterm 채권을 사서 만기까지 보유했을 때의 수익률과 shorterm 채권을 사고 roll-over했을 때의 수익률을 동일하게 만들어주는 이자율이 Forward rate다. 우상향하는 Yield curve에서는 Forward rate가 Spot rate보다 크다.

2) I have a treasure bond that maturity is 3Y, face value 1000, coupon rate 5%, annual coupon Calculate bond price

1000 = 1025 / (1 + x)

In [62]:
face_value = 1000
coupon_rate = 0.05
coupon = face_value * coupon_rate / 2

# case 1
rates = 0.03
year = 1
n = year * 2

total_pv = 0
for i in range(1, n+1):
    pv = (coupon / ((1 + (rates/2))**i))
    total_pv += pv
total_pv += (face_value / ((1 + (rates/2))**n))
print(total_pv)

1019.5588342352402

In [63]:
# case 2
rates = 0.04
year = 2
n = year * 2

total_pv = 0
for i in range(1, n+1):
    pv = (coupon / ((1 + (rates/2))**i))
    total_pv += pv
total_pv += (face_value / ((1 + (rates/2))**n))
print(total_pv)

1019.0386434933715

In [64]:
# case 3
rates = 0.05
year = 3
n = year * 2

total_pv = 0
for i in range(1, n+1):
    pv = (coupon / ((1 + (rates/2))**i))
    total_pv += pv
total_pv += (face_value / ((1 + (rates/2))**n))
print(total_pv)

1000.0000000000005

# C3. MDD

In [1]:
t_price_dict = {0:10, 1:11, 2:12, 3:13, 4:12, 5:10, 
                6:9, 7:13, 8:14, 9:15, 10:18, 11:19,
               12:20, 13:22, 14:23, 15:20, 16:17, 17:16,
                18:19, 19:24, 20:23}

price_list = list(t_price_dict.values())

In [13]:
mdd_list = []

for n, p in enumerate(price_list[:-1]):
     if (price_list[n-1]) > p and (p > price_list[n+1]):
            mdd_list.append(n-1)

            
for n, l in enumerate(mdd_list):
    if l-1 == mdd_list[n-1]:
        del mdd_list[n]
        
print(mdd_list)
recover_n = []

[3, 14]

In [16]:

n_start = mdd_list.pop(0)
for n, p in enumerate(price_list):
    if (n > n_start) and (price_list[n_start] <= p):
        recover_n.append(n)
        break

In [17]:
recover_n

[7, 19]